@import 'variables';
@import 'media_queries';

/*
 * Main container.
 */

.pl-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  .region-content {
    padding-left: 0;
    padding-right: 0;
  }
}

.container {
  @include for-tablet-portrait-up {
    max-width: 80rem !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    width: 100%;
  }
  @include for-desktop-up {
    max-width: 80rem !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

main {
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

h2.lbk-block--title,
.block-layout-builder-kit .lbk-block--title,
h2.title-large {
  @include for-phone-only {
    font-size: 1.8rem;
  }
}


div#mailchimp-popup-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1000;
  button.close-button {
    position: absolute;
    top: 32px;
    right: 31px;
    border: none;
    background: none;
    font-size: 2.5rem;
    cursor: pointer !important;
    width: 30px; /* Adjust based on icon size */
    height: 30px; /* Same as width */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: transparent;
}
}

body.no-scroll{
  overflow-y:hidden;
}
