/*
 * Variables.
 */
$white-base:            #fff;
$light-blue:            #62bbcb;
$light-blue2:           #3EAAFD;
$light-blue3:           #e9f5f7;
$dark-blue:             #1893b4;
$dark-blue2:            #005AA0;
$gray-base:             #333;
$gray-base-2:           #444;
$light-gray:            #EEE;
$light-gray2:           #667786;
$light-gray3:           #f4f6f7;
$light-gray4:           #f9f9f9;
$dark-gray:             #666;
$yellow-base:           #FFFF70;
$orange-base:           #fd610e;
$orange-2:              #f56603;
//$font-family-serif:     'Zilla Slab', serif; // Default
$font-family-rubik:     'Rubik', sans-serif; // For titles
