<button{{ attributes.addClass('mobile-nav-button') }} data-drupal-selector="mobile-nav-button">
  <span class="visually-hidden">{{ 'Menu'|t }}</span>
  <span class="mobile-nav-button__icon"></span>
</button>
